$fz_base: 16;
$fz: $fz_base;

$font_family: 'Roboto', sans-serif;
$font_other: 'Montserrat', sans-serif;

$white: #FFFFFF;
$black: #0F2240,;
$accent: #4185EA;

 

$media_large: 1230px;
$media_medium: 1000px;
$media_small: 500px;
$media_extra_small: 375px;
