html {
  font-size: #{$fz_base}px;
}

body {
  min-width: em(320, $fz);
  background-color: $white;
  color: $black;
  font-family: $font_family;
}

.page {
  &__advantages {
    margin-top: em(-190, $fz);

    @media (max-width: $media_large) {
      margin-top: em(-230, $fz);
    }

    @media (max-width: $media_medium) {
      margin-top: em(0, $fz);
    }   
  }
}

.container {
  max-width: em(1190, $fz);
  margin-right: auto;
  margin-left: auto;

  @media (max-width: $media_large) {
    padding-right: em(15, $fz);
    padding-left: em(15, $fz);
  }

  @media (max-width: $media_extra_small) {
    padding-right: em(20, $fz);
    padding-left: em(20, $fz);
  } 
}

.btn {
  $self: &;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--size-l {
    min-width: em(280, $fz);
    min-height: em(75, $fz);

    @media (max-width: $media_large) {
      min-width: em(240, $fz);
      min-height: em(60, $fz); 
    } 

    @media (max-width: $media_extra_small) {
      min-width: em(171, $fz);
      min-height: em(45, $fz); 
    }
  }

  &--size-m {
    min-width: em(200, $fz);
    min-height: em(45, $fz);
  }

  &__caption {
    color: $white;
    
    #{$self}--size-m & {
      $fz: 18;
      text-transform: uppercase;
      font-size: em($fz, $fz_base);
      font-weight: 700;
      line-height: em(30, $fz);
    }

    #{$self}--size-l & {
      $fz: 25;
      font-size: em($fz, $fz_base);
      font-weight: 500;
      line-height: em(30, $fz);

      @media (max-width: $media_extra_small) {
        $fz: 16;
        font-size: em($fz, $fz_base);
      }
    }

    #{$self}--close & {
      $fz: 18;
      padding: em(10, $fz);
      color: $black;
      font-size: em($fz, $fz_base);
    }
  }

  &--theme-accent {
    background: $gradient_blue;

    &:hover,
    &:focus {
      background: $gradient_blue_light_blue;
    }
  }
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: transparent;

  &:not(&--transparent) {
    background-color: $header;
    box-shadow: em(0 4 30 rgba(0, 0, 0, 0.25), $fz);
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    flex: none;
    margin-right: em(15, $fz);
  }

  &__nav {
    margin-right: auto;
    margin-left: auto;

    @media (max-width: $media_medium) {
      order: 1;
      margin-right: 0;
      margin-left: 0;
    }

    @media (max-width: $media_small) {
      margin-left: auto;
    }
  }

  &__user-nav {
    flex: none;

    @media (max-width: $media_medium) {
      margin-left: auto;
    }
  }
}

.logo {
  &__img {
    width: em(200, $fz);
    height: em(50, $fz);

    @media (max-width: $media_extra_small) {
      width: em(156, $fz);
    }
  }
}

.nav {
  &__list {
    flex: auto;

    display: flex;
    flex-wrap: wrap;
  
    @media (max-width: $media_medium) {
      flex: none;
      width: 100%;
      margin-top: em(31, $fz);
      margin-bottom: em(30, $fz);

      flex-direction: column;
      justify-content: start;
      padding-bottom: em(20, $fz);
    
      padding-left: em(14, $fz);
      border-bottom: em(1, $fz) solid $border_user_info;
    }
  }

  &__item {
    position: relative;
    min-height: em(95, $fz);

    display: flex;
    align-items: center;
    
    @media (max-width: $media_large) {
      min-height: em(80, $fz);
    }

    @media (max-width: $media_medium) {
      min-height: em(22, $fz);
    }
   
    &:nth-child(n+3) {
      margin-left: em(37, $fz);

      @media (max-width: $media_large) {
        margin-left: em(25, $fz);
      }
    }

    &:nth-child(n+2) {
      @media (max-width: $media_medium) {
        margin-top: em(14, $fz);
        margin-left: 0;
      }
    }

    &--is-active {
      font-weight: 500;

      @media (max-width: $media_medium) {
        font-weight: 400;
      }

      &::before {
        position: absolute;
        bottom: em(25, $fz);
        width: 102%;
        height: em(3, $fz);

        content: '';
        background-color: $nav_active;

        @media (max-width: $media_large) {
          bottom: em(15, $fz);
        }

        @media (max-width: $media_medium) {
          display: none;
         
        }
      }
    }
  }

  &__link {    
    text-transform: uppercase;   
  }

  &__container {
    color: $white;

    @media (max-width: $media_medium) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;

      visibility: hidden;

      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;

      padding: em(73 63 111 20, $fz) ;
      background-color: $white;
      color: $black;

      &--is-open {
        visibility: visible;
      }
    }
  }
  
  &__toggle {
    display: none;

    @media (max-width: $media_medium) {
      margin-left: auto;

      display: block;
    }
  }

  &__messages {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__messages-count {
    width: em(39, $fz);
    height: em(39, $fz);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $gradient_user_info;
    color: $white;
    text-align: center;
  }

  &__btn-close {
    padding-left: em(14, $fz);
  }

  &__user-info,
  &__messages,
  &__btn-close {
    @media (min-width: $media_medium) {
      display: none;
    }
  }
}

.user-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
    
  @media (max-width: $media_small) {
    display: none;
  }

  &__item {
    &:nth-child(n+2) {
      margin-left: em(5, $fz);
    }    
  }

  &__icon {
    $fz: 25;
    color: $white;
    font-size: em($fz, $fz_base);

    &--letter {
      width: em(24, $fz);
    }

    &--search {
      width: em(20, $fz);
    }

    &--profile {
      width: em(20, $fz);
    }
  }
}

.nav,
.user-nav {
  &__link {
    padding: em(32 10, $fz);

    @media (max-width: $media_large) {
      padding: em(25 10, $fz);
    }

    @media (max-width: $media_medium) {
      padding: em(10 10, $fz);
    }
  }
}

.user-nav__item,
.nav__item {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.2;
  }
}

.user-info {
  width: 100%;

  padding-bottom: em(33, $fz);
  border-bottom: em(1, $fz) solid $border_user_info;

  &__container {
    display: flex;
    align-items: center;
    padding-left: em(23, $fz);
  }

  &__name {
    $fz: 18;
    font-size: em($fz, $fz_base);
    font-weight: 500;
    line-height: em(30, $fz);
  }

  &__email {
    $fz: 14;
    color: $dark_gray;
    font-size: em($fz, $fz_base);
    line-height: em(15, $fz);
  }

  &__content {
    margin-left: em(22, $fz);
  }

  &__img {
    width: em(92, $fz);
    height: em(92, $fz);

    border-radius: 50%;
    object-fit: cover;
  }

  &__avatar {
    position: relative;

    &::before {
      position: absolute;
      right: em(15, $fz);
      bottom: 0;
      width: em(15, $fz);
      height: em(15, $fz);
   
      content: '';
   
      display: block;
      border-radius: 50%;
      background: $gradient_user_info;
    }
  }
}

.nav-toggle {
  position: relative;
  z-index: 50;
  width: em(70, $fz);
  height: em(80, $fz);
  color: $white;

  &--is-toggled {
    color: $gray;
  }

  &__bar {
    position: absolute;
    top: 40%;
    right: 0;
    width: em(43, $fz);
    height: em(5, $fz);
    margin-top: em(-9, $fz);

    border-radius: em(1, $fz);
    background: currentColor;
    transition: all, 0.2s;

    &:last-child {
      width: em(30, $fz);
    }
  }

  &__bar + &__bar {
    margin-top: em(2, $fz);
  }

  &__bar + &__bar + &__bar {
    margin-top: em(13, $fz);
  }

  &--is-toggled &__bar {
    transform: rotate(45deg) translateX(em(7, $fz)) translateY(em(4, $fz));
  }

  &--is-toggled &__bar + &__bar {
    opacity: 1;
    transform: rotate(-45deg) translateX(em(4, $fz)) translateY(em(-1, $fz));
  }

  &--is-toggled &__bar + &__bar + &__bar {
    opacity: 0;
    transform: scale(0.1);    
  }
}
